.landingPageChild {
    position: absolute;
    top: 1788px;
    left: 1010px;
    max-height: 100%;
    width: 158px;
}

.landingPageItem {
    position: absolute;
    top: 1002px;
    left: 922px;
    width: 532px;
    height: 498px;
}

.landingPageInner {
    position: absolute;
    top: 68px;
    left: 49px;
    max-height: 100%;
    width: 21px;
}

.rectangleDiv {
    position: absolute;
    top: 848px;
    left: 0px;
    border-radius: 0px 400px 0px 0px;
    background-color: #ffd4d4;
    width: 1293px;
    height: 578px;
}

.vectorIcon {
    position: absolute;
    top: 1034px;
    left: 710px;
    max-height: 100%;
    width: 159px;
}

.landingPageChild1 {
    position: absolute;
    top: 477px;
    left: 52px;
    max-height: 100%;
    width: 291px;
}

.homeAboutUs {
    position: absolute;
    top: 42px;
    left: 49px;
    line-height: 36px;
    font-weight: 900;
    color: #4a4a4a;
    white-space: pre-wrap;
}

.component1Icon {
    position: absolute;
    top: 10px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: contain;
}

.groupIcon {
    position: absolute;
    top: -108px;
    left: 653px;
    width: 1044.5px;
    height: 850px;
    object-fit: contain;
}

.landingPageChild2 {
    position: absolute;
    top: 1350.35px;
    left: -126px;
    width: 988.1px;
    height: 1007.2px;
    object-fit: cover;
}

.weHelpYou1 {
    color: #333;
}

.span {
    color: #331b3b;
}

.weHelpYou {
    line-height: 123px;
    font-weight: 900;
    font-family: Lato;
}

.toGrowYour {
    letter-spacing: 1px;
    line-height: 90px;
}

.weHelpYouToGrowYour {
    margin: 0;
}

.business {
    margin: 0;
    letter-spacing: 1px;
    line-height: 90px;
}

.weHelpYouContainer {
    position: absolute;
    top: 207px;
    left: 49px;
    font-size: 82px;
    display: inline-block;
    width: 544px;
    color: #4a4a4a;
}

.ellipseIcon {
    position: absolute;
    top: 26.36px;
    left: 1175.43px;
    width: 62.8px;
    height: 64.9px;
    object-fit: contain;
}

.landingPageChild3 {
    position: absolute;
    top: 26.36px;
    left: 1234.43px;
    width: 62.8px;
    height: 64.9px;
    object-fit: contain;
}

.landingPageChild4 {
    position: absolute;
    top: 26.36px;
    left: 1295.43px;
    width: 62.8px;
    height: 64.9px;
    object-fit: contain;
}

.icon {
    position: absolute;
    top: 48.81px;
    left: 1201.81px;
    width: 10px;
    height: 20px;
    overflow: hidden;
}

.icon1 {
    position: absolute;
    top: 49.81px;
    left: 1257.26px;
    width: 18px;
    height: 18px;
    overflow: hidden;
}

.icon2 {
    position: absolute;
    top: 46.81px;
    left: 1315.71px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.whatWeDo {
    margin: 0;
    font-weight: 900;
}

.whatWeDoContainer {
    position: absolute;
    top: 934px;
    left: calc(50% - 185px);
    font-size: 48px;
    line-height: 54px;
    color: #331b3b;
    text-align: center;
}

.aboutUsWhatContainer {
    position: absolute;
    top: 1688px;
    left: 831px;
    font-size: 48px;
    line-height: 54px;
}

.landingPageChild5 {
    position: absolute;
    top: 1137px;
    left: 265px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #fff;
    width: 308px;
    height: 192px;
}

.landingPageChild6 {
    position: absolute;
    top: 1137px;
    left: 614px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #fff;
    width: 308px;
    height: 192px;
}

.landingPageChild7 {
    position: absolute;
    top: 1137px;
    left: 962px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #fff;
    width: 308px;
    height: 192px;
}

.landingPageChild8 {
    position: absolute;
    top: 1137px;
    left: 1311px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #fff;
    width: 308px;
    height: 192px;
}

.enhanceCustomerReach {
    position: absolute;
    top: 1216px;
    left: 284px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
}

.connectYourProducts {
    position: absolute;
    top: 1244px;
    left: 282px;
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 145.3%;
    font-weight: 300;
    font-family: 'Hind Vadodara';
    color: rgba(51, 27, 59, 0.66);
    display: inline-block;
    width: 275px;
    height: 82px;
}

.landingPageChild9 {
    position: absolute;
    top: 1155px;
    left: 284px;
    border-radius: 10px;
    background-color: #ffded4;
    width: 52px;
    height: 48px;
}

.website49431Icon {
    position: absolute;
    top: 1194px;
    left: 295px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.streamlineProductDiscovery {
    position: absolute;
    top: 1216px;
    left: 633px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
}

.helpCustomersFind {
    position: absolute;
    top: 1244px;
    left: 633px;
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 145.3%;
    font-weight: 300;
    font-family: 'Hind Vadodara';
    color: rgba(51, 27, 59, 0.66);
    display: inline-block;
    width: 275px;
    height: 82px;
}

.landingPageChild10 {
    position: absolute;
    top: 1155px;
    left: 638px;
    border-radius: 10px;
    background-color: #ffeed4;
    width: 52px;
    height: 48px;
}

.boostLocalSales {
    position: absolute;
    top: 1216px;
    left: 981px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
}

.romoteSriLankan {
    position: absolute;
    top: 1244px;
    left: 979px;
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 145.3%;
    font-weight: 300;
    font-family: 'Hind Vadodara';
    color: rgba(51, 27, 59, 0.66);
    display: inline-block;
    width: 275px;
    height: 82px;
}

.landingPageChild11 {
    position: absolute;
    top: 1155px;
    left: 981px;
    border-radius: 10px;
    background-color: #d4f0ff;
    width: 52px;
    height: 48px;
}

.improveShoppingExperience {
    position: absolute;
    top: 1216px;
    left: 1335px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
}

.deliverAPersonalized {
    position: absolute;
    top: 1244px;
    left: 1333px;
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 145.3%;
    font-weight: 300;
    font-family: 'Hind Vadodara';
    color: rgba(51, 27, 59, 0.66);
    display: inline-block;
    width: 275px;
    height: 82px;
}

.landingPageChild12 {
    position: absolute;
    top: 1155px;
    left: 1335px;
    border-radius: 10px;
    background-color: #ffd4d4;
    width: 52px;
    height: 48px;
}

.mobilePhone11642Icon {
    position: absolute;
    top: 1164px;
    left: 647px;
    width: 36px;
    height: 36px;
    overflow: hidden;
}

.mobilePhone11641Icon {
    position: absolute;
    top: 1162px;
    left: 991px;
    width: 36px;
    height: 36px;
    overflow: hidden;
}

.rocket34291Icon {
    position: absolute;
    top: 1163px;
    left: 1343px;
    width: 36px;
    height: 36px;
    overflow: hidden;
}

.landingPageChild13 {
    position: absolute;
    top: 1295px;
    left: 140px;
    width: 85px;
    height: 34px;
}

.loremIpsumHas {
    position: absolute;
    top: 1822px;
    left: 826px;
    line-height: 25px;
    color: #777;
    display: inline-block;
    width: 515px;
    height: 82px;
}

.loremIpsumHas1 {
    position: absolute;
    top: 1913px;
    left: 826px;
    line-height: 25px;
    color: #777;
    display: inline-block;
    width: 515px;
    height: 82px;
}

.loremIpsumHas2 {
    position: absolute;
    top: 503px;
    left: 49px;
    line-height: 25px;
    color: #777;
    display: inline-block;
    width: 515px;
    height: 82px;
}

.buttonChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #333;
}

.getStarted {
    position: absolute;
    top: 33.33%;
    left: 23.67%;
    letter-spacing: 0.02em;
    line-height: 137.3%;
    text-transform: uppercase;
}

.buttonItem {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #fcbebe;
}

.getStarted1 {
    position: absolute;
    top: 33.33%;
    left: 23.67%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    font-family: Lato;
    color: #4a4a4a;
}

.button {
    position: absolute;
    top: 611px;
    left: 48px;
    width: 207px;
    height: 66px;
    font-size: 17px;
    color: #fff;
    font-family: 'Hind Vadodara';
}

.landingPageChild14 {
    position: absolute;
    top: 2573px;
    left: 1517px;
    border-radius: 10px;
    background-color: #c4c4c4;
    width: 89px;
    height: 238px;
}

.landingPageChild15 {
    position: absolute;
    top: 3497px;
    left: 223px;
    width: 11px;
    height: 0px;
}

.groupChild {
    position: absolute;
    top: 103px;
    left: 649px;
    max-height: 100%;
    width: 131px;
}

.ourTestimonialsWhatContainer {
    position: absolute;
    top: 0px;
    left: calc(50% - 300.5px);
    font-size: 48px;
    line-height: 54px;
    color: #333;
    text-align: center;
}

.groupItem {
    position: absolute;
    top: 178px;
    left: 0px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    width: 448px;
    height: 310px;
}

.icon3 {
    position: absolute;
    top: 202px;
    left: 19px;
    width: 64px;
    height: 64px;
    overflow: hidden;
}

.loremIpsumHas3 {
    position: absolute;
    top: 284px;
    left: 29px;
    line-height: 25px;
    display: inline-block;
    width: 384px;
    height: 136px;
}

.name {
    position: absolute;
    top: 424px;
    left: 47.5px;
    letter-spacing: 0.02em;
    line-height: 159.3%;
    font-weight: 600;
    font-family: 'Hind Vadodara';
    color: #000;
}

.groupInner {
    position: absolute;
    top: 178px;
    left: 517px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    width: 448px;
    height: 310px;
}

.icon4 {
    position: absolute;
    top: 202px;
    left: 536px;
    width: 64px;
    height: 64px;
    overflow: hidden;
}

.loremIpsumHas4 {
    position: absolute;
    top: 284px;
    left: 546px;
    line-height: 25px;
    display: inline-block;
    width: 384px;
    height: 136px;
}

.groupChild1 {
    position: absolute;
    top: 437px;
    left: 546px;
    max-height: 100%;
    width: 11px;
}

.name1 {
    position: absolute;
    top: 424px;
    left: 564.5px;
    letter-spacing: 0.02em;
    line-height: 159.3%;
    font-weight: 600;
    font-family: 'Hind Vadodara';
    color: #000;
}

.vectorParent {
    position: absolute;
    top: 2303px;
    left: 218px;
    width: 965px;
    height: 488px;
    color: #777;
}

.landingPageChild16 {
    position: absolute;
    top: 2870px;
    left: 0px;
    border-radius: 0px 158px 0px 0px;
    background-color: #333;
    width: 1400px;
    height: 453px;
}

.loremIpsumHas5 {
    position: absolute;
    top: 3003px;
    left: 51px;
    line-height: 25px;
    color: #f4f4f4;
    display: inline-block;
    width: 439px;
    height: 136px;
}

.landingPageChild17 {
    position: absolute;
    top: 3166px;
    left: 50px;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 263px;
    height: 52px;
}

.landingPageChild18 {
    position: absolute;
    top: 3166px;
    left: 313px;
    background-color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 143px;
    height: 52px;
}

.getInTouch {
    position: absolute;
    top: 3126px;
    left: 50px;
    line-height: 25px;
    font-weight: 900;
    color: #e8e8e8;
}

.enterYourEmail {
    position: absolute;
    top: 3179px;
    left: 63px;
    line-height: 25px;
    color: #f4f4f4;
}

.send {
    position: absolute;
    top: 3180px;
    left: 365px;
    letter-spacing: 0.02em;
    line-height: 159.3%;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Hind Vadodara';
    color: #000;
}

.component2Icon {
    position: absolute;
    top: 2925px;
    left: calc(50% - 654px);
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: contain;
}

.buttonInner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #331b3b;
}

.button1 {
    position: absolute;
    top: 2021px;
    left: 826px;
    width: 207px;
    height: 66px;
    font-size: 17px;
    color: #fff;
    font-family: 'Hind Vadodara';
}

.frameChild {
    position: absolute;
    top: -29px;
    left: -42px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.frameDiv {
    position: absolute;
    top: 119px;
    left: 378px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.landingPage {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 3323px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #333;
    font-family: Lato;
}